@model HomeContent
@using LyniconANC.Release.Models
@using Lynicon.Models

<div class="spacer" style="height:100px;">

</div>

<div>
    @Model.Intro
</div>

<h3>Today's Discounts</h3>
@foreach (var summ in Model.Discounted().OrderByDescending(s => s.Discount))
{
    <a href="@summ.Url">
        <img src="@summ.Thumbnail.Url" alt="@summ.Thumbnail.Alt" />
        <p>@summ.Title</p>
        <p>@(summ.Discount)% off</p>
    </a>
}

<div>
    <img src="@Model.Test.Image.Url" />
    <a href="@Model.Test.Link.Url">
        @Model.Test.Link.Content
    </a>
</div>

